
:root {
    --primary: rgb(222, 230, 230);
    --secondary: rgb(58, 58, 58);
}

/* Scrollbar Styling */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b7b7b7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.text-primary-c {
    color: var(--primary);
}

.d-100 {
    height: 100vh;
}

.btn-primary-c {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}
/* 
.hero-img {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .highlight-nav {
  border: solid 1px #000 !important;
  border-radius: 10px;
  background-color: var(--primary);
} */

.highlight-nav:hover {
  border: solid 1px #000 !important;
  border-radius: 10px;
  background-color: var(--secondary);
}

#viz {
  width: var(device-width);
  height: 550px;
  background-color: var(--primary);
  border-radius: 10px;
  border: 4px var(--secondary) solid;
}
