:root {
    --primary: rgb(230, 233, 233);
    --secondary: rgb(58, 58, 58);
}

/* Scrollbar Styling */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b7b7b7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.text-primary-c {
    color: var(--primary);
}

.d-100 {
    height: 100vh;
}

.btn-primary-c {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}
#particles-js{

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: -1; */
  /* background-color: yellow; */

}
/* 
.hero-img {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .highlight-nav {
  border: solid 1px #000 !important;
  border-radius: 10px;
  background-color: var(--primary);
} */

.highlight-nav:hover {
  border: solid 1px #000 !important;
  border-radius: 10px;
  background-color: var(--secondary);
}

#viz {
  width: 98%;
  height: 500px;
  background-color: var(--primary);
  border-radius: 10px;
  border: 1px var(--secondary) solid;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#search {
  width: 98%;
  margin-left: auto;
  margin-right: auto
}

.footer {
  position: absolute;
  bottom: 15px;
  width: 100%
}

#expand {
  background-color: blue;
}