/* the 'all' selector, setting default font as Arial */
* {
    font-family: Arial;
}

/* START OF NAV BAR FORMATTING */
/* Navigation Bar at top of page, essentially a list of links converted into buttons and layed out horizontally */
.navbar {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: rgb(36, 36, 36);
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 65px;
    font-size: 15px;
}

/* aligns the regular nav page elements to the right of the screen */
li {
    float: right;
}

/* hovering over the list will highlight the corresponding element */
li:hover {
    background-color: rgb(95, 95, 95);
}

/* aligns the title and logo to the left of the screen*/
.navlogo {
    float: left;
    margin-left: 16px;
}
.navlogo:hover {
    background-color: transparent;
}

/* specifics for the page title */
.navtitle {
    float: left;
    font-size: 20px;
}
.navtitle:hover {
    background-color: transparent;
}
/* specifics for the current page */
.currentpage {
    font-weight: bold;
}
.currentpage:hover {
    background-color: rgb(95, 95, 95);
}

/* pads and colours the nav list elements */
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}
/* END OF NAV BAR FORMATTING */

.form-class {
    background-color: rgb(232, 232, 236);
    color:rgb(36, 36, 36);
    border: 1px solid rgb(146, 144, 144);
    border-radius: 4px;
    padding: 16px; 
}

h4 {
    color: rgb(36, 36, 36);
    font-size: 20px;
    margin-bottom: 8px;
}

.container {
  margin-left: 16px;
  margin-top: 24px;
  margin-right: 16px;
}

.pagecontent {
  padding-top: 2em;
}

ul {
  list-style: none;
}

#submit {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(85, 84, 84);
    color:rgb(245, 241, 241);
    border-radius: 4px;
    border: none;
}

label {
  margin-right: 8px;
  padding-right: 16px;
  color:rgb(36, 36, 36);
}

label:hover {
    background-color: transparent;
}

#APIKey {
  width: 30%;
  height: 24px;
  margin-top: 4px;
  font-size: 14px;
}

#researcher {
    width: 30%;
    height: 24px;
    margin-top: 4px;
    font-size: 14px;
}

#submit:hover {
    background-color: rgb(146, 144, 144);
    transition-duration: 0.3s;
    color: white;
    border-radius: 4px;
    border: none;
}

/* START OF FOOTER FORMATTING */
.footer {
    margin-top: 8px;
    background-color: rgb(36, 36, 36);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding-top: 3px;
}

p {
    color: rgb(85, 84, 84);
    font-size: 14px;
}
/* END OF FOOTER FORMATTING */
