<!DOCTYPE html>
<html lang="en">

<head>
    <title>Network Mapper</title>

    <link rel="stylesheet" href='../static/css/index.css'>

    <script src="{{url_for('static',filename = 'js/particles.min.js')}}"></script>
</head>

<body>
    <div id="particles-js"></div>

    <div>
        <ul class="navbar">
            <li class="navlogo"><img src="../static/img/blackbglogosmall.png" alt="logo" width="58" height="58"></li>
            <li class="navtitle"><a href="./index.html">Network Mapper</a></li>
            <li><a href="./tool.html">Tool</a></li>
            <li><a href="./researchers.html">Researchers</a></li>
            <li class="currentpage"><a href="./index.html">Home</a></li>
        </ul>
    </div>

    <div class="content">
        <div class="teamlogo">
            <img src="../static/img/logolarge.png">
        </div>
        <div class="detail">
            <p>A network graph solution designed for medical researchers to connect with like minds.</p>
        </div>
        <div class="detail">
            <p>Click on the '<b>Tool</b>' tab in the top right to begin.</p>
        </div>
    </div>

    <div class="footer">
        <p class="groupnames">&copy; Cam, Harry, Kane, Adam, Callum, Maaz</p>
        <p>Team 43 - Network Mapper - CITS3200 - University of Western Australia</p>
    </div>

    <script src="{{url_for('static',filename = 'js/particle.js')}}"></script>
</body>

</html>