<!DOCTYPE html>
<html lang="en">

<head>
    <title>Network Mapper | Researchers</title>

    <link rel="stylesheet" href="../static/css/researchers.css">

    <script src='../static/js/neovs.js'></script>
</head>

<body>
    <div>
        <ul class="navbar">
            <li class="navlogo"><img src="../static/img/blackbglogosmall.png" alt="logo" width="58" height="58"></li>
            <li class="navtitle"><a href="./index.html">Network Mapper</a></li>
            <li><a href="./tool.html">Tool</a></li>
            <li class="currentpage"><a href="./researchers.html">Researchers</a></li>
            <li><a href="./index.html">Home</a></li>
        </ul>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </hr>
    <div class="pagecontent">
        <!--Table Display -->
        <div>
            <h4>Edit Researchers</h4>
            <form class="addresearcher" action="" method="post">
                {{ form1.hidden_tag() }}
                <div>
                    {{ form1.researcher.label }}<br>
                    {{ form1.researcher(size=32) }}
                    <!--<label for="scopusIDForm" class="form-label text-dark">Scopus ID</label>
                    <input type="number" class="form-control" id="scopusIDForm">
                    -->
                </div>
                {{ form1.addremoveupdate() }}{{ form1.addremoveupdate.Add }}{{ form1.addremoveupdate.Remove }}{{ form1.addremoveupdate.Update }}
                {{ form1.senior() }}{{ form1.senior.label }}
                {{ form1.submit() }}
                <!--<button id="addKeyBtn" type="submit" class="btn btn-primary-c">Submit</button>
                -->
            </form>
        </div>
        <div>
            <h4>Change Scopus API Key</h4>
            <form class="changekey" action="" method="post">
                {{ form2.hidden_tag() }}
                <div>
                    {{ form2.APIKey.label }}<br>
                    {{ form2.APIKey(size=32) }}
                    <!--<label for="scopusIDForm" class="form-label text-dark">Scopus ID</label>
                    <input type="number" class="form-control" id="scopusIDForm">
                    -->
                </div>
                {{ form2.submit() }}
                <!--<button id="addKeyBtn" type="submit" class="btn btn-primary-c">Submit</button>
                -->
            </form>
        </div>
    </div>

    <div class="footer">
        <p class="groupnames">&copy; Cam, Harry, Kane, Adam, Callum, Maaz</p>
        <p>Team 43 - Network Mapper - CITS3200 - University of Western Australia</p>
    </div>

    <script src="static/js/forms.js"></script>

</body>

</html>
