<!DOCTYPE html>
<html lang="en">

<head>
    <title>Network Mapper | Graph Visualiser</title>

    <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
    <script src="static/js/neovs.js"></script>

    <link rel="stylesheet" href="../static/css/tool.css">
</head>

<body>
    <div>
        <ul class="navbar">
            <li class="navlogo"><img src="../static/img/blackbglogosmall.png" alt="logo" width="58" height="58"></li>
            <li class="navtitle"><a href="./index.html">Network Mapper</a></li>
            <li class="currentpage"><a href="./tool.html">Tool</a></li>
            <li><a href="./researchers.html">Researchers</a></li>
            <li><a href="./index.html">Home</a></li>
        </ul>
    </div>

    <div>
        <div id="search">
            <input type="text" placeholder=" Scopus ID" id="searchBar" class="searchbar">
            <button onclick="newDraw()" class="searchbutton">Search</button>
            <input type="checkbox" id="secondDegree" class="bigcheckbox">
            <label for="secondDegree" class="degreelabel">Second Degree Connections</label>
            <button id="myBtn" class="helpbutton">Help</button>
        </div>
        <div class="graphingtool">
            <div class="left" id="viz"></div>
            <div class="right">
                <table id="r" class="graphtable" hidden>
                    <tr>
                        <td>Name</td>
                        <td id="researcherName"></td>
                    </tr>
                    <tr>
                        <td>Layer Of Known</td>
                        <td id="layerOfKnown"></td>
                    </tr>
                    <tr>
                        <td>Co-Authors</td>
                        <td id="researcherAuthors"></td>
                    </tr>
                    <tr>
                        <td>Scopus ID</td>
                        <td id="scopusID"></td>
                    </tr>
                    <tr>
                        <td>Scopus Link</td>
                        <td><a href="url" id="link" target="_blank" rel="noopener noreferrer"></a></td>
                    </tr>
                </table>
                <table id="project" class="graphtable" hidden>
                    <tr>
                        <td>Title</td>
                        <td id="projectTitle"></td>
                    </tr>
                    <tr>
                        <td>Co-Authors</td>
                        <td id="projectAuthors"></td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td id="projectType"></td>
                    </tr>
                    <tr>
                        <td>Publisher</td>
                        <td id="projectPublisher"></td>
                    </tr>
                    <tr>
                        <td>Project id</td>
                        <td id="projectID"></td>
                    </tr>
                    <tr>
                        <td>Project Link</td>
                        <td><a href="url" id="projectLink" target="_blank" rel="noopener noreferrer"></a></td>
                    </tr>
                </table>
                <div id="expand" hidden>
                    <a id="res" hidden></a>
                    <input type="checkbox" id="expandPublications">
                    <label for="expandPublications" class="loadlabels"> Publications </label>
                    <input type="checkbox" id="expandResearcher">
                    <label for="expandResearcher" class="loadlabels"> Expand </label>
                    <button onclick="draw()" class="loadbutton"> Update Graph </button>
                </div>
                <div id="expand2" hidden>
                    <a id="pub" hidden></a>
                    <a id="pubRes" hidden></a>
                    <input type="checkbox" id="projectExpansion">
                    <label for="projectExpansion"> Expand </label>
                    <button onclick="draw()" class="loadbutton"> Search </button>
                </div>
                <div id="download" hidden>
                    <h4 class="text-dark">Expand Researcher</h4>
                    <form class="mb-5 border border-dark rounded shadow p-3" action="" method="post">
                        {{ form1.hidden_tag() }}
                        <div class="mb-3">
                            {{ form1.researcher.label }}<br>
                            {{ form1.researcher(size=32) }}
                            <!--<label for="scopusIDForm" class="form-label text-dark">Scopus ID</label>
                <input type="number" class="form-control" id="scopusIDForm">
                -->
                        </div>
                        {{ form1.submit() }}
                        <!--<button id="addKeyBtn" type="submit" class="btn btn-primary-c">Submit</button>
            -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p><b>Getting Started</b></p>
          <p>1. Enter a Scopus ID in the search box and click 'Search'</p>
          <p>2. This will give you a network with all of the corresponding Scopus IDs who have worked with your initial researcher.</p>
          <p>3. Click on a researcher to see their information displayed in a table on the right side of the page.</p>
          <p>4. Choose to expand the network to display this researcher's network by selecting 'Expand' and clicking 'Update'. <i>please allow a few seconds for the graph to update</i></p>
          <p>5. Choose to view this researcher's work, their publications, by selecting 'Publications' and clicking 'Update'. Their works will be displayed as nodes on the graph for you to click on.</p>
        </div>
      
    </div>
    <!-- FOOTER -->
    <div class="footer">
        <p class="groupnames">&copy; Cam, Harry, Kane, Adam, Callum, Maaz</p>
        <p>Team 43 - Network Mapper - CITS3200 - University of Western Australia</p>
    </div>
</body>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
    modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
</script>

</html>